/*----- Section: Projects Style Started -----*/
#projects {
    width: 100vw;
    padding: 3rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#projects-content {
    width: 80rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    -moz-column-gap: 2rem;
    column-gap: 2rem;
    row-gap: 4rem;
}

#projects-content .project {
    position: relative;
    width: 35rem;
    display: flex;
    gap: 3rem;
    border-radius: 0.5rem;
    padding: 3rem 0 2rem 2.5rem;
}

#projects-content .project::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 85%;
    background-color: var(--bg-1);
    border-radius: 0.5rem;
    z-index: -9;
}

#projects-content .project .project-left {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#projects-content .project .project-left .para {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#projects-content .project .project-left .para h2 {
    color: var(--primary-color);
    font-family: monospace;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

#projects-content .project .project-left .para p {
    color: var(--secondary-color);
    font-size: 1.3rem;
    line-height: 2rem;
}

#projects-content .project .project-left .btn {
    justify-content: center;
    gap: 1.5rem;
    margin-top: 2rem;
}

#projects-content .project .project-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#projects-content .project .project-right img {
    position: relative;
    width: 13rem;
}

#projects-content .project .project-right img:nth-child(1) {
    rotate: 20deg;
    transform: translateY(2.3rem);
    z-index: 1;
}

#projects-content .project .project-right img:nth-child(2) {
    transform: translateX(-2rem);
    z-index: 2;
}

#projects-content .project .project-right img:nth-child(3) {
    rotate: -20deg;
    transform: translateY(-2.3rem);
    z-index: 1;
}

#projects-content .project:hover {
    transition-duration: 1s;
}

#projects-content .project:hover::before {
    box-shadow: 4px -4px 8px rgba(0, 0, 0, 0.2), -4px 4px 8px rgba(0, 0, 0, 0.2);
    background-color: var(--bg-2);
}

#projects-content .project:hover .btn a,
#projects-content .project:hover img {
    box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.2);
}